{{ with .content }}
<div class="hero">
    <div class="content">
        <div class="pic">
            <img src="{{ .image }}"/>
        </div>

        <div class="intro">
            <h1>
            {{ .title | markdownify }}
            </h1>

        {{ with .tagline }}
            <h2>
            {{ . | markdownify }}
            </h2>
        {{ end }}

            <div class="leads">
            {{ range .leads }}
                <p class="lead lead-{{ .priority }}">
                {{ .title | markdownify }}
                </p>
            {{ end }}
            </div>
        </div>
    </div>

{{ with .actions }}
    <div class="cta">
    {{ with .left }}
        <div class="left">
            <a href="{{ .url }}" role="button"
               data-scroll
            >
            {{ .name | markdownify }}
            </a>
        </div>
    {{ end }}
    {{ with .right }}
        <div class="right">
            <a href="{{ .url }}" role="button"
               data-scroll
            >
            {{ .name | markdownify }}
            </a>
        </div>
    {{ end }}
    </div>
{{ end }}
</div>
{{ end }}
