@import "../../bootstrap/_variables";
@import "../../bootstrap/utilities/_align";
@import "../../bootstrap/badge";
@import "../../bootstrap/buttons";
@import "./colors";

.push-down-wrapper {
  position: absolute;
  bottom: 0;
  // left: 0;
}

.push-down-wrapper-and-center {
  @extend .push-down-wrapper;

  left: 50%;
  transform: translate(-50%, 0);
}

.btn-circle {
  display: inline-block;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  font-size: 3.4rem;
}

a.btn-circle {
  transition: all linear 0.2s;

  &:hover {
    background-color: $body-bg-invert;
    color: $body-color-invert;
  }
}

.large-link {
  display: inline-block;
  width: 5rem;
  text-align: center;

  font-size: 3em;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    border-color: $link-hover-color;
    background-color: $primary;
    color: $white;
  }
}

.bg-translucent {
  background-color: #ffffff0a;
}

.invert {
  background-color: $body-bg-invert;
  color: $body-color-invert;

  h2 {
    color: $headings-color-invert;
  }

  .highlight {
    color: $primary;
  }
}

.highlight {
  color: $info;
}

.bg-white {
  background-color: $balanced-white;
  color: #222;

  h1, h2, h3, h4, h5, h6 {
    color: $primary;
  }
}

%categories-badges {
  @extend .text-center;

  width: 100%;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;

  a {
    @extend .badge;
    @extend .badge-light;
    color: darken($white, 50%);
  }
}

%tags-badges {
  @extend .text-center;

  width: 100%;
  font-weight: 200;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  margin: 1rem;

  a {
    @extend .badge;
    @extend .badge-pill;
    @extend .badge-secondary;
  }
}

%cover {
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

%btn-cta {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
}
