@import "../../../bootstrap/_navbar";
@import "../../../bootstrap/_transitions.scss";
@import "../../../bootstrap/utilities/_flex";
@import "../../../bootstrap/utilities/_background";
@import "../../../bootstrap/utilities/_display";
@import "../../../bootstrap/utilities/_align";
@import "../utils";

.header {
  @extend .container;
  @extend .bg-white;
  margin-top: 1rem;
  padding: 0;
}

.main-navbar {
  @extend .navbar;
  @extend .navbar-expand-sm;
  @extend .navbar-light;
  @extend .justify-content-center;

  font-family: $headings-small-font-family;

  .brand {
    @extend .navbar-brand;

    img {
      @extend .d-inline-block;
      @extend .align-top;
      height: 42px;
    }
  }

  .collapse-button {
    @extend .navbar-toggler;
    @extend .nav-link;
    @extend .align-middle;
  }

  .collapsable-content {
    @extend .collapse;
    @extend .navbar-collapse;

    & > div {
      @extend .navbar-nav;
    }

    a {
      @extend .nav-link;
      margin-left: 1rem;

      &:hover {
        color: $primary !important;
      }
    }
  }
}
