@import "../../../bootstrap/grid";
@import "../../../bootstrap/buttons";
@import "../../../bootstrap/utilities/background";
@import "../../../bootstrap/utilities/align";
@import "../colors.scss";
@import "../utils";
@import "./forms";

.list {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .items {
    @extend .container;
    @extend .bg-white;

    padding-top: 1rem;
    padding-bottom: 1rem;

    .item {
      @extend .row;
      @extend .justify-content-center;
      @extend .text-center;

      padding: 2rem;

      &.odd {
        background-color: darken($white, 1%);
      }

      .content {
        @extend .col-md-10;

        font-size: 1.1rem;
        // line-height: 1.58;
        font-weight: 200;

        & > a {
          @extend .btn;
          @extend .btn-outline-primary;
        }
      }
    }
  }

  .subscribe {
    @extend %subscribe;
  }
}
