@import "../../../bootstrap/utilities/align";
@import "../../../bootstrap/utilities/spacing";
@import "../../../bootstrap/grid";
@import "../../../bootstrap/card";
@import "../../../bootstrap/forms";
@import "../../../bootstrap/images";
@import "../../../bootstrap/jumbotron";
@import "../colors.scss";
@import "../utils";

.landing {
  h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3 {
    width: 100%;
  }

  .hero {
    @extend %hero;

    min-height: 63vh;
    margin-top: 6vh;
    padding-bottom: 5rem;
  }

  .cta {
    @extend .push-down-wrapper;
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-center;
    text-align: center;
    width: 100%;

    .left {
      margin: 1em;
      @extend .text-center;
      @extend .text-sm-right;

      a {
        @extend .btn;
        @extend .btn-lg;
        @extend .btn-primary;
      }
    }

    .right {
      margin: 1em;
      @extend .d-none;
      @extend .d-sm-block;
      @extend .text-center;
      @extend .text-sm-left;

      a {
        @extend .btn;
        @extend .btn-lg;
        @extend .btn-outline-primary;
      }
    }
  }

  .features {
    @extend .container;

    h2 {
      @extend .text-center;
    }

    .items {
      @extend .row;
      @extend .justify-content-center;

      .item {
        @extend .card;
        @extend .mt-2;
        @extend .ml-1;
        @extend .col-11;
        @extend .col-md-3;

        padding: 1rem;

        img {
          @extend .img-fluid;
        }

        .tagline {
          @extend .card-title;
        }

        .copy {
          @extend .card-text;
        }
      }
    }
  }

  .action-card {
    margin: 2rem auto auto;
    width: 60%;

    & > div {
      @extend .card;
      @extend .text-center;

      .body {
        @extend .card-body;

        h2 {
          @extend .card-title;
        }

        p {
          @extend .card-text;
        }

        a {
          @extend %btn-cta;
        }
      }
    }
  }

  .projects {
    @extend .container;
    padding: 0.9rem 0 4rem 0;

    .items {
      @extend .card-columns;

      .item {
        @extend .card;

        color: $white;
        background-color: $heavy-purple;
        border-color: $heavy-yellow;

        &.priority-1 {
          @extend .d-none;
          @extend .d-md-inline-block;
        }

        .body {
          @extend .card-body;

          h3 {
            @extend .card-title;
            color: $primary;
          }
          p {
            @extend .card-text;
          }
        }

        .badges {
          @extend .card-footer;
          border-top: 1px solid rgba($heavy-yellow, 0.2);
          background-color: rgba($heavy-yellow, 0.1);

          .badge {
            @extend .badge-pill;
            @extend .badge-primary;
          }
        }
      }
    }

  }

  .references {
    @extend .jumbotron;
    @extend .jumbotron-fluid;

    h2 {
      color: $dark;
      margin-bottom: 2rem;
    }

    .items {
      @extend .row;
      @extend .align-items-center;
      @extend .justify-content-center;

      .item {
        @extend .col-4;
        @extend .col-sm-3;
        @extend .col-md-2;

        img {
          @extend .img-fluid;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .benefits {
    @extend .container-fluid;
    @extend .invert;

    margin-bottom: 0;
    margin-top: 0;

    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
    }

    & > div {
      @extend .container;
    }

    .items {
      @extend .row;

      .item {
        @extend .mt-2;
        @extend .col-12;
        @extend .col-md-4;

        h3 {
        }
      }
    }
  }

  .articles {
    @extend .container;
    padding: 0.9rem 0 4rem 0;

    .items {
      @extend .card-columns;

      @include media-breakpoint-only(sm) {
        column-count: 1;
      }

      @include media-breakpoint-only(md) {
        column-count: 2;
      }

      @include media-breakpoint-only(lg) {
        column-count: 3;
      }
      @include media-breakpoint-only(xl) {
        column-count: 3;
      }

      .item {
        @extend .card;

        color: $white;
        background-color: $body-bg;
        border-color: lighten($body-bg, 10%);

        &.hide-on-small {
          @extend .d-none;
          @extend .d-md-inline-block;
        }

        .body {
          @extend .card-body;
        }

        .title {
          @extend .card-title;
          color: $info;
        }

        .tagline {
          @extend .card-text;
        }

        .tags {
          @extend .card-footer;
        }

        .footer {
          border-top: 1px solid rgba($secondary, 0.2);
          background-color: rgba($secondary, 0.1);
        }

        .tags {
          @extend .badge;
          @extend .badge-pill;
          @extend .badge-primary;
        }

      }
    }
  }

  .contact {
    @extend .container;
    padding-top: 0.9rem;

    .content {
      @extend .row;
      @extend .justify-content-center;
      padding: 2rem;

      form {
        margin: 1rem;
        padding: 1rem;
        @extend .col-8;
      }
    }
  }
}
