@import "../bootstrap/utilities/align";
@import "../bootstrap/utilities/spacing";
@import "../bootstrap/grid";
@import "../bootstrap/card";
@import "../bootstrap/forms";
@import "../bootstrap/images";
@import "../colors.scss";
@import "../utils";

.landing {
  h2 {
    text-align: center;
    color: $balanced-white;
    font-weight: 200;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3 {
    width: 100%;
  }

  .hero {
    @extend .container-fluid;
    min-height: 63vh;
    margin-top: 6vh;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;

    @extend %cover;
    background-image: url('/landing/hero-cover.jpg');
    background-origin: border-box;

    .content {
      @extend .row;
      @extend .justify-content-center;
      @extend .text-center;

      .pic {
        display: none;
      }

      .intro {
        @extend .col-12;
        @extend .text-center;

        h1 {
          color: $white;
          @extend .text-center;
          @extend .mt-4;
        }

        h2 {
          @extend .mt-3;
          @extend .text-center;

          font-family: $font-family-base;
          font-size: 1.5rem;
          color: $white;
        }
      }

      .leads {
        @extend .mt-md-5;
        @extend .text-center;
        @extend .text-md-left;
        margin-top: 1rem;

        .lead {
          opacity: 0.8;
        }

        .lead-1 {
        }

        .lead-2 {
          @extend .d-none;
          @extend .d-md-block;
        }
        .lead-3 {
          @extend .d-none;
          @extend .d-lg-block;
        }
      }
    }

    .cta {
      @extend .push-down-wrapper;
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-center;
      text-align: center;

      .left {
        margin: 1em;
        @extend .text-center;
        @extend .text-sm-right;

        a {
          @extend .btn;
          @extend .btn-lg;
          @extend .btn-primary;
        }
      }

      .right {
        margin: 1em;
        @extend .d-none;
        @extend .d-sm-block;
        @extend .text-center;
        @extend .text-sm-left;

        a {
          @extend .btn;
          @extend .btn-lg;
          @extend .btn-outline-primary;
        }
      }
    }
  }

  .features {
    @extend .container;

    h2 {
      @extend .text-center;
    }

    .items {
      @extend .row;
      @extend .justify-content-center;

      .item {
        @extend .mt-2;
        @extend .col-12;
        @extend .col-md-4;

        img {
          @extend .img-fluid;
        }

        .tagline {
        }

        .copy {
        }
      }
    }
  }

  .cta-card {
    margin: auto;
    width: 60%;

    & > div {
      @extend .card;
      @extend .text-center;

      .body {
        @extend .card-body;

        h2 {
          @extend .card-title;
        }

        p {
          @extend .card-text;
        }

        a {
          @extend %btn-cta;
        }
      }
    }
  }

  .benefits {
    @extend .container-fluid;
    @extend .invert;
    margin-bottom: 0;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h2 {
      font-family: 'PT Serif', serif;
    }

    & > div {
      @extend .container;
    }

    .items {
      @extend .row;

      .item {
        @extend .mt-2;
        @extend .col-12;
        @extend .col-md-4;

        h3 {
          font-family: $font-family-base;
        }
      }
    }
  }

  .articles {
    @extend .container;
    padding: 0.9rem 0 4rem 0;

    .items {
      @extend .card-columns;

      @include media-breakpoint-only(sm) {
        column-count: 1;
      }

      @include media-breakpoint-only(md) {
        column-count: 2;
      }

      @include media-breakpoint-only(lg) {
        column-count: 3;
      }
      @include media-breakpoint-only(xl) {
        column-count: 3;
      }

      .item {
        @extend .card;

        color: $balanced-white;
        background-color: $body-bg;
        border-color: $secondary;

        &.hide-on-small {
          @extend .d-none;
          @extend .d-md-inline-block;
        }

        .body {
          @extend .card-body;
        }

        .title {
          @extend .card-title;
          color: $info;
        }

        .tagline {
          @extend .card-text;
        }

        .tags {
          @extend .card-footer;
        }

        .footer {
          border-top: 1px solid rgba($secondary, 0.2);
          background-color: rgba($secondary, 0.1);
        }

        .tags {
          @extend .badge;
          @extend .badge-pill;
          @extend .badge-primary;
        }

      }
    }
  }

  .contact {
    @extend .bg-white;
    @extend .container-fluid;
    padding-top: 0.9rem;

    .content {
      @extend .row;
      @extend .justify-content-center;
      padding: 2rem;

      form {
        margin: 1rem;
        padding: 1rem;
        @extend .col-8;
        background-color: darken($white, 4%);
        border: 1px solid darken($white, 6%);
        border-radius: 0.5rem;
      }
    }
  }
}
