// Custom Colors
// =============
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Roboto|Roboto+Condensed');

$font-family-base: 'PT Serif', serif;
$headings-font-family: 'Roboto Condensed', sans-serif;
$headings-font-family-sans: 'Roboto Condensed', sans-serif;
$headings-small-font-family: 'Roboto', sans-serif;

@import "./colors.scss";

// Required
// ========
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Optional
// ========
@import "bootstrap/reboot";
@import "bootstrap/print.scss";

// Custom Design
// =============
html {
}

body {
  scroll-behavior: smooth;
}

@import "./components/header";
@import "./components/footer";
@import "./components/landing";
@import "./components/posts";
@import "./components/post";
@import "./components/pagination";
